.pnf {
    display: grid;
    height: 90svh;
    place-content: center;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

.pnf a {
    margin: 2rem;
    background: var(--red);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
