.banner {
    max-width: 74rem;
    height: 25rem;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.random-movie-details {
    text-transform: capitalize;
    position: absolute;
    bottom: 6rem;
    left: 4rem;
}

.random-movie-details h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

.random-movie-details i {
    margin-top: 0.5rem;
    display: block;
}

.random-movie-details .btn {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    margin-top: 0.5rem;
}

.random-movie-details .btn button,
.random-movie-details a {
    all: unset;
    border: 2px solid var(--red);
    color: var(--red);
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.random-movie-details .btn button:first-child {
    background: var(--red);
    color: var(--bg-color);
}

.search {
    display: grid;
    align-items: center;
    gap: 1rem;
    max-width: 50rem;
    grid-template-columns: auto 7rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

.search input {
    all: unset;
    border: 1px solid var(--red);
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}

.search .search-icon {
    all: unset;
    padding: 0.7rem 1rem;
    background: var(--red);
    color: var(--bg-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.search-icon svg {
    font-size: 1.5rem;
}

.search .search-icon:hover {
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .banner {
        height: 16.5rem;
        margin: 0 0.5rem;
    }

    .random-movie-details {
        left: 1rem;
        bottom: 2rem;
    }

    .random-movie-details h2 {
        font-size: 1.4rem;
    }

    .random-movie-details i {
        font-size: 0.86rem;
        width: 94%;
    }

    .random-movie-details a {
        font-size: 0.88rem;
        padding: 0.4rem 0.7rem;
    }

    .search {
        grid-template-columns: auto 3.2rem;
        gap: 0.4rem;
    }

    .search-icon {
        padding: 0.55rem !important;
    }

    .search-icon span {
        display: none;
    }
}
