.error {
    width: 100vw;
    height: 90svh;
    display: grid;
    place-content: center;
}

.error>div {
    text-align: center;
    padding: 1rem;
}

.error p {
    text-transform: capitalize;
    font-weight: bold;
    margin: 1rem 0;
}

.error button {
    background: var(--red);
    color: wheat;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: 1rem 0;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}