.movie-details .movie {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.3rem;
}

.movie-details .movie .poster {
    max-width: 17rem;
    margin: 0 auto;
    aspect-ratio: 1/1.7;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    text-align: center;
}

.details h1 {
    margin: 1rem 0;
    font-family: "Oswald", sans-serif;
}

.details p {
    margin: 0.5rem 0;
    font-size: clamp(0.8rem, 3vmin, 1rem);
}

.details .tagline {
    font-style: italic;
    font-weight: normal;
}

.movie .play-trailer {
    width: fit-content;
    font-weight: 600;
    display: flex;
    gap: 0.3rem;
    border: 2px solid var(--red);
    padding: 0.5rem 0.8rem;
    border-radius: 6rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    margin: 2rem auto;
    cursor: pointer;
    color: var(--red);
}

.movie .play-trailer small {
    font-size: 0.9rem;
    padding: 0.2rem 0;
}

.movie .play-trailer:hover,
.movie .play-trailer:active {
    color: var(--bg-color);
    background-color: var(--red);
}

h3 {
    font-family: "Oswald", sans-serif;
}

.details .overview {
    font-weight: normal;
}

.movie .collection {
    width: 8rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.4rem;
    background: var(--card-color);
    margin: 1rem auto;
}

.movie .collection img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 1rem;
}

.movie .link {
    margin: 1rem;
}

.movie .link a {
    color: var(--red);
    text-decoration: underline;
}
.link p {
    font-weight: 600;
}

/* ======================================================== */
.created-by {
    padding: 1rem;
}

.created-by h3 {
    margin: 1rem 0;
    text-align: center;
}

.created-by > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.created-by > div .person {
    width: 8rem;
    min-height: 15rem;
    background: var(--card-color);
    padding: 0.6rem;
    border-radius: 1rem;
}

.person .profile-img {
    height: 75%;
    overflow: hidden;
    border-radius: 0.8rem;
}

.profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.person p {
    text-align: center;
    margin: 0.5rem 0;
}

/* ======================================================== */

.more-details {
    padding: 1rem;
}

.more-details h3 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-size: 1.4rem;
}

.companies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
}

.companies .company {
    background: var(--card-color);
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.company-details {
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    font-size: 0.88rem;
}

.company-name {
    font-weight: 400;
}

.company .company-logo {
    border-radius: 0.4rem;
    background: var(--text-color);
    height: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.company .company-logo img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

/* =================================================== */

.seasons {
    padding: 1rem;
    text-align: center;
}

.seasons h3 {
    margin: 1rem 0;
}

.seasons .season-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: 0.5rem;
    max-width: 50rem;
    margin: 1rem auto;
}

.seasons .season {
    /* aspect-ratio: 1.2; */
}

.s-img {
    overflow: hidden;
}

.season img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seasons p {
    margin: 0.2rem 0;
}

/* =================================================== */

.next-e {
    padding: 1rem;
    text-align: center;
}

.next-e h3 {
    margin: 1rem;
}

.np-inner > div {
    max-width: 30rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 1rem;
}

.np-inner > div img {
    height: 100%;
    width: 100%;
}

.np-overview {
    max-width: 40rem;
}

.next-e p {
    margin: 0.5rem auto;
}

/* =================================================== */
.others-container {
    padding: 1.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 0.6rem;
}

.others-container .others {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.others-container .others h4 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 820px) {
    /* .movie {
    }
     */
    .movie-inner-container {
        display: grid;
        grid-template-columns: 17rem auto;
        gap: 1rem;
        align-items: center;
        margin: 0 auto;
        max-width: 60rem;
    }

    .movie .poster {
        margin: 0 !important;
    }

    .movie .details {
        text-align: left;
    }

    .movie .details h1 {
        margin: 0;
    }

    .movie .details p {
        margin: 0.1rem;
    }

    .movie .details .play-trailer {
        margin: 1rem 0;
    }

    .movie .collection {
        margin: 0;
    }

    .movie .c-header {
        margin: 0.5rem 0;
    }

    .movie .link {
        text-align: center;
        margin-top: 1rem !important;
    }

    /* ======================================== */
    .more-details h3 {
        text-align: left;
    }

    .more-details .companies {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ggg {
        display: grid;
        grid-template-columns: auto 17rem;
        margin-bottom: 1.5rem;
        margin-inline: auto;
        max-width: 60rem;
    }

    .link {
        text-align: start !important;
    }
    /* ========================================= */
}

h3 {
    text-transform: uppercase;
}
