.navbar {
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
    background: var(--card-color);
}

.right-col {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.logo {
    font-size: 1.3rem;
    user-select: none;
}

.logo span {
    color: #c60202;
    font-family: cursive;
}

.nav-links-wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: grid;
    grid-template-columns: 40% auto;
    transition: .5s;
}

.nav-links-wrapper .close-icon {
    color: var(--text-color);
    margin: 1rem;
    font-size: var(--large-font);
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    border-radius: 50%;
    place-content: center;
    transition: .5s;
}

.nav-links-wrapper .close-icon:hover {
    background: var(--text-color);
    color: black;
    cursor: pointer;
}

.right-col .nav-links {
    display: flex;
    flex-direction: column;
    background: var(--card-color);
    align-items: center;
}


.nav-links nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: var(--large-font);
    font-weight: 600;
    height: 50%;
    cursor: pointer;
    text-decoration: none;
}

.nav-links nav span {
    color: orangered;
}

.nav-links nav span:hover {
    transition: .5s;
    color: var(--text-color);
}

.left-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.left-col .hamburger-menu {
    font-size: 1.5rem;
    width: 100%;
    border-radius: .3rem;
    cursor: pointer;
}

.left-col .hamburger-menu:active {
    color: var(--card-color);
}



@media screen and (min-width: 660px) {

    .right-col .nav-links-wrapper {
        position: static;
        display: flex;
        height: auto;
    }

    .nav-links-wrapper .close-icon {
        display: none;
    }

    .right-col .nav-links {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav-links nav {
        flex-direction: row;
        font-size: var(--normal-font);
    }

    .mobile-menu {
        display: none;
    }
}






/* CALL TO ACTION */
.open-mobile-menu {
    right: 0;
}