.offline {
    height: 100vh;
    display: grid;
    place-content: center;
}

.offline>div {
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    background: var(--card-color);
    border-radius: .7rem;
    margin: .3rem;
}

.offline p
 {
    margin: 1rem 0;
 }
 .offline button {
    margin: 1rem;
    font-size: var(--normal-font);
    border-radius: .5rem;
    width: 6rem;
    height: 2.4rem;
    background: orangered;
    color: var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
 }