:root {
    --bg-color: hsl(0, 0%, 10%);
    --card-color: hsl(0, 0%, 14%);
    --text-color: hsla(180, 1%, 86%, 0.871);
    --light-text-color: hsla(180, 1%, 86%, 20);

    --normal-font: 1rem;
    --small-font: .77rem;
    --large-font: 1.5rem;


    --lt-bg-color: hsl(167, 12%, 80%);
    --lt-card-color: hsl(170, 4%, 67%);
    --lt-text-color: #3a3c3cde;
    --lt-light-text-color: hsla(180, 2%, 83%, 0.871);
}