@import url('./assets/global.css');



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  /* font-family: "Oswald", sans-serif; */
}

.icon {
  cursor: pointer;
}

.lt-bg {
  background: var(--lt-bg-color);
  color: var(--lt-text-color);

}

.lt-card {
  background: var(--lt-card-color);
}

.lt-light-text {
  color: var(--lt-light-text-color);
}