@import url('./assets/global.css');



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.icon {
  cursor: pointer;
}